* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: url(https://c4.wallpaperflare.com/wallpaper/1005/822/563/star-wars-death-star-at-at-space-wallpaper-preview.jpg)
    no-repeat center center;
  background-color: rgb(47, 56, 65);
  background-size: cover;
  background-blend-mode: multiply;
}